flows.json
[{"id":"b6ebaf87.ffec7","type":"tab","label":"Flow 10","disabled":false,"info":""},{"id":"e87834b9.8ed038","type":"debug","z":"b6ebaf87.ffec7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":140,"wires":[]},{"id":"2aaab48c.2b118c","type":"ibmiot in","z":"b6ebaf87.ffec7","authentication":"apiKey","apiKey":"4a83374e.c3f7a8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":250,"y":160,"wires":[["52f9db1f.eb8f44"]]},{"id":"52f9db1f.eb8f44","type":"function","z":"b6ebaf87.ffec7","name":"","func":"var name =msg.payload.name\nvar lat =msg.payload.lat\nvar lon =msg.payload.lon\nglobal.set('latitude',lat)\nglobal.set('longitude',lon)\nglobal.set('name',name)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":180,"wires":[["e87834b9.8ed038","67f93cc8.eceff4"]]},{"id":"67f93cc8.eceff4","type":"function","z":"b6ebaf87.ffec7","name":"","func":"msg.payload={\n    'name':global.get('name'),\n    'lat':global.get('latitude'),\n    'lon':global.get('longitude')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":280,"wires":[["e74ed0e1.1debc","8f0b92a8.fb686"]]},{"id":"d7afb5b4.5b5428","type":"function","z":"b6ebaf87.ffec7","name":"","func":"msg.payload=msg.location.inarea\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":440,"wires":[["f48c49be.eaac08"]]},{"id":"3cb2f77.9656e08","type":"function","z":"b6ebaf87.ffec7","name":"","func":"\nmsg.payload = \"Alert! Child is out of the Geofence\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":540,"wires":[["621c53c3.f7dd2c","716a9fac.53cc5","73a84ecc.f8526"]]},{"id":"ce7afb99.c03d08","type":"function","z":"b6ebaf87.ffec7","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset()*60000);\n\nvar offset = 5.5;\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = {\n    \"message\":\"Entry\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get('name'),\n    \"lat\":global.get('latitude'),\n    \"lon\":global.get('longitude')\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":680,"wires":[["dda7dc0c.cdb28"]]},{"id":"27800bd1.f0bc84","type":"function","z":"b6ebaf87.ffec7","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset()*60000);\n\nvar offset = 5.5;\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = {\n    \"message\":\"Exit\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get('name'),\n    \"lat\":global.get('latitude'),\n    \"lon\":global.get('longitude')\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":600,"wires":[["dda7dc0c.cdb28","af7491e3.f83be"]]},{"id":"f48c49be.eaac08","type":"rbe","z":"b6ebaf87.ffec7","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":650,"y":440,"wires":[["731f105e.9a58d"]]},{"id":"e74ed0e1.1debc","type":"ui_worldmap","z":"b6ebaf87.ffec7","group":"16bca999.7771d6","order":1,"width":0,"height":0,"name":"","lat":"17.4226372","lon":"78.5456505","zoom":"16","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"show","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":740,"y":280,"wires":[]},{"id":"716a9fac.53cc5","type":"debug","z":"b6ebaf87.ffec7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":380,"wires":[]},{"id":"621c53c3.f7dd2c","type":"http request","z":"b6ebaf87.ffec7","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=yz1vtETLHACpB0MQgeGnRVKDusYIW6olUabZr3dS49J27PhOmFLFz79ixsHpJlWrmkRIcVGUt10aZy6O&route=q&message=&language=english&flash=0&numbers=","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":500,"wires":[["716a9fac.53cc5"]]},{"id":"73a84ecc.f8526","type":"ui_toast","z":"b6ebaf87.ffec7","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"show notifications","x":980,"y":560,"wires":[[]]},{"id":"dda7dc0c.cdb28","type":"debug","z":"b6ebaf87.ffec7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":700,"wires":[]},{"id":"731f105e.9a58d","type":"switch","z":"b6ebaf87.ffec7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":560,"wires":[["3cb2f77.9656e08","27800bd1.f0bc84"],["ce7afb99.c03d08"]]},{"id":"8f0b92a8.fb686","type":"geofence","z":"b6ebaf87.ffec7","name":"","mode":"circle","inside":"both","rad":34.005157708816455,"points":[],"centre":{"latitude":17.422745190939587,"longitude":78.54882289109808},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":470,"y":340,"wires":[["d7afb5b4.5b5428"]]},{"id":"af7491e3.f83be","type":"cloudant out","z":"b6ebaf87.ffec7","name":"","cloudant":"","database":"gcet","service":"node-red-zndfh-2021--cloudant-1621488274681-27324","payonly":false,"operation":"insert","x":990,"y":620,"wires":[]},{"id":"4a83374e.c3f7a8","type":"ibmiot","name":"ESP32","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"16bca999.7771d6","type":"ui_group","name":"Default","tab":"cb663a5a.f224d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"cb663a5a.f224d8","type":"ui_tab","name":"Child Tracker","icon":"dashboard","order":2,"disabled":false,"hidden":false}]